<!DOCTYPE html>
<html lang="en">
<head>
	<% include head %>
</head>
<body class="container">

<header>
	<% include header %>
</header>

<main>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script> 
        <script type="text/javascript"> 
            var auto_refresh = setInterval( function() 
            { 
                $('#reading_data').load('readings #reading_data').fadeIn("slow"); }, 3000); // refreshing after every 15000 milliseconds </script> 

    <div class="jumbotron">
        <h2>Readings</h2>
        <p><%= tagline %></p>
        <div id = "reading_data">
        <ul>
            <% data.forEach(function(reading) { %>
                <li> <%= reading.reading_id %> - <%= reading.reading_time %> - <%= reading.reading_value %></li>
            <% }); %>
        </ul>
        </div>
    </div>
</main>

<footer>
	<% include footer %>
</footer>

</body>
</html>